{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="h-screen w-full grid justify-items-center">
        <div class="authentication-form">
            <h1 class="text-center">
                {% trans %}Sign in{% endtrans %}
            </h1>

            {% if error %}
                <div class="alert alert-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
