{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include '.components/topbar.html.twig' %}

    <section class="w-full h-screen flex justify-center items-center">
        <div class="flex flex-row">
            <div class="flex-grow">
                <div class="flex flex-col">
                    <h1>Certif-It</h1>
                    <div>
                        Et si nous testions vos compétences ?
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <i class="fas fa-question"></i>
            </div>
        </div>
    </section>
    <div class="">
        <h1>Certif-It</h1>
    </div>
{% endblock %}
