{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form) }}
        <button type="submit" class="btn btn-primary">
            Finish
        </button>
    {{ form_end(form) }}
{% endblock %}
