{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {% include '.components/topbar.html.twig' %}

    <div class="main">
        {% for domain in domains %}
            <a href="{{ path('userquizz_generate_by_domain', { id: domain.id }) }}" class="btn btn-primary">
                {% trans %}Generate a quizz{% endtrans %} {{ domain.name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
