{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {% for domain in domains %}
        <a href="{{ path('userquizz_generate_by_domain', { id: domain.id }) }}">
            {% trans %}Generate a quizz{% endtrans %} {{ domain.name }}
        </a>
    {% endfor %}
{% endblock %}
